{% extends 'visualize/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% block content %}
    <script src="https://use.fontawesome.com/4bb05997b9.js"></script>

    <h2>Why This Site Exits</h2>
      <p>
        Militarization of the police. Police brutality. Civil engagement.
        Crime statistics. Excessive force. For most, these are just empty buzzwords.
        Just another passing headline. Somehow, these words have become less
        important and less relevant than headlines about the latest hot celebrity.
        Even if people are able to move past the headline, the data is messy and confusing,
        much less motivating.
      </p>

      <p>
        We need this to change.
      </p>

      <p>
        Bringing Buzzwords Home has synthesized nearly half a million critical
        data entries into one cohesive and accessible site. With data from the
        United States’s Department of Defense surplus disposal program, it will
        be possible to see what types and quantities of free military equipment
        local police departments have received from the government. Data from The
        Guardian will allow you to track the number of fatal encounters with the
        police in your own community. Accessing data from the Federal Bureau of
        Investigation, we can make violent and property crime statistics
        approachable and arresting.
      </p>

    <p>
      At Bringing Buzzwords Home, some of today’s most important and contentious
      issues are presented in a meaningful manner. Data presented in a compelling
      form has the power to reshape how you see and understand your community.
      We believe that technology, data science, and data visualization has the
      ability to prompt an audience into action. We believe in bringing this data
      into the familiarity of your home and out into the foreground of change.
    </p>

  <h3>Data Used In This Project</h3>

  <ul>
    <li>
      <a href="http://www.dla.mil/DispositionServices/FOIA/EFOIALibrary.aspx" target="_blank">Department of Defense's Defense Logistics Agency LESO 1033 Program</a>
    </li>

    <li>
      <a href="https://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/resource-pages/about-cius" target="_blank">Federal Bureau of Investigation's Crime in the United States Reports</a>
    </li>

    <li>
      <a href="http://www.census.gov/popest/data/counties/totals/2015/index.html" target="_blank">US Census Bureau's Population Estimates</a>
    </li>

    <li>
      <a href="http://www.theguardian.com/us-news/ng-interactive/2015/jun/01/about-the-counted" target="_blank">The Guardian's The Counted Project</a>
    </li>

    <li>
      <a href="https://developers.google.com/maps/documentation/geocoding/start" target="_blank">Google's Geocoding API</a>
    </li>


  </ul>

  <h3>Our Team</h3>

    <ul class="fa-ul">
      <li>
        <a href="https://github.com/conleydg" target="_blank">
          <i class="fa-li fa fa-github"></i>
        </a>
          David Conley
      </li>

      <li>
      <a href="https://github.com/gcrowder" target="_blank">
        <i class="fa-li fa fa-github"></i>
      </a>
        Gregory Crowder
      </li>

      <li>
      <a href="https://github.com/JonathanKross" target="_blank">
        <i class="fa-li fa fa-github"></i>
      </a>
        Jonathan Kross
      </li>
    </ul>

    {% endblock %}
  </body>
</html>
