
{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>

  	<!-- start: Meta -->
  	<meta charset="utf-8">
  	<title>Bringing Buzzwords Home</title>
  	<!-- end: Meta -->

  	<!-- start: Mobile Specific -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- end: Mobile Specific -->

  	<!-- start: CSS -->
  	<link id="bootstrap-style" href=" {% get_static_prefix %}visualize/dashboard/css/bootstrap.min.css" rel="stylesheet">
  	<link href=" {% get_static_prefix %}visualize/dashboard/css/bootstrap-responsive.min.css" rel="stylesheet">
  	<link id="base-style" href="{% get_static_prefix %}visualize/dashboard/css/style.css" rel="stylesheet">
  	<link id="base-style-responsive" href=" {% get_static_prefix %}visualize/dashboard/css/style-responsive.css" rel="stylesheet">
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
  	<!-- end: CSS -->

    <meta charset="utf-8">
    <link href="{% get_static_prefix %}visualize/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="{% get_static_prefix %}visualize/d3.js" charset="utf-8"></script>
    <script src="{% get_static_prefix %}visualize/nv.d3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% get_static_prefix %}visualize/visualize.js"></script>
    <title>{{long_state_name}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  </head>


<!-- NAVBAR
================================================== -->
<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="brand" href= {% url 'homepage' %} ><span>Bringing Buzzwords Home</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">


			</div>
		</div>
	</div>
  	</div>


    {% block content%}

    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
