{% extends 'visualize/base.html' %}
{% load static %}



{% block content %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

<script type="text/javascript">
    state_crime = {{ state_crime }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 50, left: 70})
    .groupSpacing(0.1)
;
chart.reduceXTicks(false);
chart.xAxis
    .axisLabel("Crime Categories")
    .axisLabelDistance(35)
    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(state_crime[0].values[d].label)
        return state_crime[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',f'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart6 svg')
    .datum(state_crime)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>


<script type="text/javascript">
    average_deaths = {{ average_deaths }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 50, left: 70})
    .groupSpacing(0.1)
;
chart.reduceXTicks(false).staggerLabels(true);
chart.xAxis
    .axisLabel("Crime Categories")
    .axisLabelDistance(35)
    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(average_deaths[0].values[d].label)
        return average_deaths[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',e'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart1 svg')
    .datum(average_deaths)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>

<script type="text/javascript">
    military_value = {{ military_value }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 50, left: 70})
    .groupSpacing(0.1)
;
chart.reduceXTicks(false).staggerLabels(true);
chart.xAxis
    .axisLabel("Crime Categories")

    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(military_value[0].values[d].label)
        return military_value[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',e'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart2 svg')
    .datum(military_value)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>


<div class="container-fluid-full">

<div  class="span12">

  <div class="row-fluid">
    <div class="span3 statbox title purple" onTablet="span6" onDesktop="span3">
      <div class= "title">1033 Total</div>
      <div class='number'>{{ ten_thirty_three_total }} </div>
    </div>
    <div class="span3 statbox green" onTablet="span6" onDesktop="span3">
      <div class= "title">2015 Fatal Encounters With Police</div>
      <div class='number'>{{ twenty_fifteen_kills }} </div>
    </div>
    <div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
      <div class= "title">State Population</div>
      <div class='number'>{{ county_pop_twenty_fifteen}} </div>
    </div>
    <div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
      <div class= "title">Violent Crime : Property Crime</div>
      <div class='number'>{{ twenty_fourteen_violent }} : {{ twenty_fourteen_property }}</div>
    </div>

  </div>


  <div class="row-fluid">
    <div id="stats-chart-2"  class="span6 widget green" onTablet="span8" onDesktop="span8">
      <div id="chart1"  style="height:300px" > <svg></svg> </div>
    </div>
    <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div id="chart2"  style="height:300px" >
        <svg></svg>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span2"></div>

      <div id="stats-chart-2"  class="span8 widget yellow" onTablet="span8" onDesktop="span8">
        <div id="chart6"  style="height:300px" > <svg></svg> </div>

      </div>
  </div>




  <script>


  $(document).ready(function() {
      $('#example').DataTable( {
          "dom": '<"toolbar">frtip'
      } );

      $("div.toolbar").html('<b>County Search</b>');
  } );
</script>
<div class='box'>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>County</th>
                <th>Population</th>
                <th>Military Items Value</th>
                <th>Fatal Encounters</th>
                <th>2014 Violent Crime</th>
                <th>2014 Property Crime</th>
            </tr>
        </thead>
        <tbody>
              {% for county in counties_list %}
            <tr>
                <td ><a href='/../county/{{county.6}}' >{{county.0}}</a></td>
                <td>{{ county.1 }}</td>
                <td>{{ county.2 }}</td>
                <td>{{ county.3 }}</td>
                <td>{{ county.4 }}</td>
                <td>{{ county.5 }}</td>
            </tr>
              {% endfor %}

        </tbody>
    </table>
<div class='box'>




</div><!--/row-->
</div>
</div>



{% endblock %}
