{% extends 'visualize/base.html' %}
{% load static %}



{% block content %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>



<div class="container-fluid-full">

<div  class="span12">


  <div class="row-fluid">
      <div class="span6 statbox transparent" onTablet="span6" onDesktop="span3">
      <h1>{{county_obj.county_name}}</h1>
      </div>
      <div class="span6 statbox transparent" onTablet="span6" onDesktop="span3">
          <h1>Population: {{county_pop_twenty_fifteen}}</h1>
      </div>
  </div>
  <div class="row-fluid">

    <div id="1033" class="span4 statbox purple" onTablet="span6" onDesktop="span3">
      <div><h1>{{ ten_thirty_three_total }}</h1></div>
      <div><h2>Value of Military Equipment Donated to {{county_obj.county_name}}</h2></div>
    </div>
    <div id="fatal_encounters" class="span2 statbox green" onTablet="span6" onDesktop="span3">
      <div><h1>{{ twenty_fifteen_kills }}</h1></div>
      <div><h2>2015 Police Fatal Encounters</h2></div>
    </div>
    <div id="violent_crime" class="span3 statbox blue" onTablet="span6" onDesktop="span3">
      <div><h1> {{ twenty_fourteen_violent }}</h1></div>
      <div><h2>2014 Violent Crime</h2></div>
    </div>
    <div id="property_crime" class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
    <div><h1>{{ twenty_fourteen_property }}</h1></div>
    <div><h2>2014 Property Crime</h2></div>
  </div>



  <div id="stage">
  <div class="row-fluid">

    <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div id="top-left"  style="height:300px" >
         <svg></svg>
      </div>
    </div>
    <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
        <div id="top-right"  style="height:300px">
        <svg></svg>
      </div>
      </div>
  </div>
</div>




  <script>


  $(document).ready(function() {
      $('#example').DataTable( {
          "dom": '<"toolbar">frtip'
      } );

      $("div.toolbar").html('<b>County Search</b>');
  } );
</script>

<div class='box'>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>County</th>
                <th>Population</th>
                <th>Military Items Value</th>
                <th>Fatal Encounters</th>
                <th>2014 Violent Crime</th>
                <th>2014 Property Crime</th>
            </tr>
        </thead>
        <tbody>
              {% for county in counties_list %}
            <tr>
                <td ><a href='/../county/{{county.6}}' >{{county.0}}</a></td>
                <td>{{ county.1 }}</td>
                <td>{{ county.2 }}</td>
                <td>{{ county.3 }}</td>
                <td>{{ county.4 }}</td>
                <td>{{ county.5 }}</td>
            </tr>
              {% endfor %}

        </tbody>
    </table>

  <script>

  average_deaths = {{ average_deaths }};
  military_value = {{ military_value }};
  average_deaths_per_cap = {{ average_deaths_per_cap }};
  military_value_per_cap = {{ military_value_per_cap }};
  prop_crime = {{ prop_crime }};
  viol_crime = {{ viol_crime }};
  prop_crime_per_cap = {{ prop_crime_per_cap  }};
  viol_crime_per_cap  = {{ viol_crime_per_cap  }};

  drawMilitaryValue(military_value)
  drawMilitaryValuePerCap(military_value_per_cap)



  $('#1033')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:300px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:300px"><svg></svg></div></div></div><div class="row-fluid">')
        drawMilitaryValue(military_value)
        drawMilitaryValuePerCap(military_value_per_cap)
    })
  $('#fatal_encounters')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget green" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:300px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget green" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:300px"><svg></svg></div></div></div></div>')
        drawFatalEncounters(average_deaths)
        drawFatalEncountersPerCapita(average_deaths_per_cap)

  });
  $('#population')
    .css('cursor', 'pointer')
    .click(
        function(){
            alert('Population!');
        }
  );
  $('#violent_crime')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget blue" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:300px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget blue" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:300px"><svg></svg></div></div></div></div>')
        drawAvgViolCrime(viol_crime)
        drawAvgViolCrimePerCap(viol_crime_per_cap)

  });
  $('#property_crime')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget yellow" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:300px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget yellow" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:300px"><svg></svg></div></div></div></div>')
        drawAvgPropCrime(prop_crime)
        drawAvgPropCrimePerCap(prop_crime_per_cap)
    })

  </script>


</div><!--/row-->
</div>
</div>



{% endblock %}
