{% extends 'visualize/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs-3.3.6/jqc-1.12.3,dt-1.10.12/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/u/bs-3.3.6/jqc-1.12.3,dt-1.10.12/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs-3.3.6/jqc-1.12.3,dt-1.10.12/datatables.min.css"/>


{% block content %}


<script type="text/javascript">
    state_crime = {{ state_crime }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 100, left: 70})
    .rotateLabels(45)
    .groupSpacing(0.1)
;
chart.reduceXTicks(false).staggerLabels(true);
chart.xAxis
    .axisLabel("Crime Categories")
    .axisLabelDistance(35)
    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(state_crime[0].values[d].label)
        return state_crime[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',f'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart6 svg')
    .datum(state_crime)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>


<script type="text/javascript">
    average_deaths = {{ average_deaths }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 100, left: 70})
    .rotateLabels(45)
    .groupSpacing(0.1)
;
chart.reduceXTicks(false).staggerLabels(true);
chart.xAxis
    .axisLabel("Crime Categories")
    .axisLabelDistance(35)
    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(average_deaths[0].values[d].label)
        return average_deaths[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',e'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart1 svg')
    .datum(average_deaths)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>

<script type="text/javascript">
    military_value = {{ military_value }};


nv.addGraph(function() {
chart = nv.models.multiBarChart()
    .barColor(d3.scale.category20().range())
    .duration(300)
    .margin({bottom: 100, left: 70})
    .rotateLabels(45)
    .groupSpacing(0.1)
;
chart.reduceXTicks(false).staggerLabels(true);
chart.xAxis
    .axisLabel("Crime Categories")
    .axisLabelDistance(35)
    .showMaxMin(false)
    .tickFormat(function (d){
        console.log(military_value[0].values[d].label)
        return military_value[0].values[d].label;
    })
;
chart.yAxis
    .axisLabel("# of Crimes")
    .axisLabelDistance(-5)
    .tickFormat(d3.format(',e'))
;
chart.dispatch.on('renderEnd', function(){
    nv.log('Render Complete');
});
d3.select('#chart2 svg')
    .datum(military_value)
    .call(chart);
nv.utils.windowResize(chart.update);
chart.dispatch.on('stateChange', function(e) {
    nv.log('New State:', JSON.stringify(e));
});
chart.state.dispatch.on('change', function(state){
    nv.log('state', JSON.stringify(state));
});
});
</script>


<div class="container-fluid-full">

<br>
  <ul class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <a href= {% url 'homepage' %}>Home</a>
      <i class="icon-angle-right"></i>
      <a href= {% url 'homepage' %}>{{county_obj.state}}</a>
      <i class="icon-angle-right"></i>
      <a href= {% url 'homepage' %}>{{county_obj.county_name}}</a>
      <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">{{state}}</a></li>
  </ul>


<div class="container-fluid-full">

  <div  class="span12">
  <div class="row-fluid">
    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
      <div><h1>1033 Total</h1></div>
      <div><h1>{{ ten_thirty_three_total }}<h1></div>
    </div>
    <div class="span3 statbox green" onTablet="span6" onDesktop="span3">
      <div><h1>2015 Killings</h1></div>
      <div><h1>{{ twenty_fifteen_kills }}</h1></div>
    </div>
    <div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
      <div><h1>State Population</h1></div>
      <div><h1>{{ county_obj.pop_est_2015 }}</h1></div>
    </div>
    <div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
      <div><h1>Violent Crime</h1></div>
      <div><h1></h1>{{ twenty_fourteen_violent }}</div>
      <div><h1>Property Crime</h1></div>
      <div><h1>{{ twenty_fourteen_property }}</h1></div>
    </div>

  </div>


<div  class="span12">



<div class="row-fluid">
  <div id="stats-chart-2"  class="span6 widget green" onTablet="span8" onDesktop="span8">
    <div id="chart1"  style="height:350px" > <svg></svg> </div>

  </div>



    <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div id="chart2"  style="height:350px" > <svg></svg> </div>

    </div>
  </div>


  <div class="row-fluid">
      <div id="stats-chart-2"  class="span8 widget yellow" onTablet="span8" onDesktop="span8">
        <div id="chart6"  style="height:300px" > <svg></svg> </div>

      </div>
  </div>










</div><!--/row-->
</div>
</div>



{% endblock %}
