{% extends 'visualize/base.html' %}
{% load static %}


<!DOCTYPE html>

<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="../static/visualize/css/style.css" type="text/css"
  charset="utf-8">
</head>
{% block content %}
<div id="content" class="span10">


<div class="row-fluid">

    <div class="box-header">
      <h2>Standard Progress Bars</h2>
    </div>

        <div id="tooltip"></div><!-- div to hold tooltip. -->
        <svg width="960" height="900" id="statesvg"></svg> <!-- svg to hold the map. -->
        
        <script src="../static/visualize/uStates.js"></script> <!-- creates uStates. -->
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="../static/visualize/mapping.js"></script>

  </div><!--/span-->
</div><!--/row-->



</div>


{% endblock %}
