{% extends 'visualize/base.html' %}
{% load static %}


<!DOCTYPE html>

<meta charset="utf-8">

<head>

</head>
{% block content %}
<script src="../static/visualize/uStates.js"></script> <!-- creates uStates. -->
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="../static/visualize/mapping.js"></script>
<link rel="stylesheet" href="../static/visualize/css/style.css" type="text/css"
charset="utf-8">
<div class="container-fluid-full">
<div class="span12">




<div class="row-fluid">

  <div class="span2">
  </div>
  <div class="span9">
    <h1>How many fatal police encounters have taken place in your county?
      How many military-grade assault rifles are in your state?<br>
      <strong>Click on your state to find out detailed info about crime in YOUR community.</strong></h1>
  </div>
</div>

<div class="row-fluid">
    <div>
    </div>

    <div id="tooltip"></div><!-- div to hold tooltip. -->
    <div class="svg-container span11">
        <svg viewBox="0 0 960 600" id="statesvg"></svg>
    </div>
    <!-- <div id="introText">
      <p>
        <strong>Militarization of the police. Civil engagement. Crime statistics.
        Excessive force.</strong> For most, these are just empty buzzwords.
        These passing taglines have no meaning and certainly no power.
        At best these issues might conjure up some images of Ferguson, Missouri,
        but rarely are they associated with your own state, or your own county.
      </p>

      <p>
        Over the last two decades, the Department of Defense's surplus
        disposal program, has provided your local police with millions of
        dollars in military-grade weapons, vehicles, helicopters, and equipment.
      </p>

      <p>
        The US government has no official or comprehensive record of the number
        of people killed by law enforcement. This glaring fact is being address
        by verified crowd-sourced data from the Guardian.
      </p>

      <p>
        Accessing data from the FBI, we can make violent and property crime
        statistics approachable and arresting.
      </p>

    </div> -->
</div>
<div class="row-fluid">

  <div class="span2">
  </div>
  <div class="span8">
    <h2>Heat Map: Darker blue states have higher military equipment donations, fatal police encounters, and violent crime, per capita.</h2>

  </div><!--/span-->
  </div>
</div><!--/row-->
</div>




{% endblock %}
