
{% extends 'visualize/base.html' %}
{% load static %}



{% block content %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>



<div class="container-fluid-full">

<div  class="span12">

<div class="row-fluid">
    <div class="span6 statbox transparent" onTablet="span6" onDesktop="span3">
    <h1>{{long_state_name}}</h1>
    </div>
    <div class="span6 statbox transparent" onTablet="span6" onDesktop="span3">
        <h1>Population: {{twenty_fifteen_population}}</h1>
    </div>
</div>
<div class="row-fluid">

  <div id="1033" class="span4 statbox purple" onTablet="span6" onDesktop="span3">
    <div><h1>{{ ten_thirty_three_total }}</h1></div>
    <div><h2>Value of Military Equipment Donated to {{long_state_name}}</h2></div>
  </div>
  <div id="fatal_encounters" class="span2 statbox green" onTablet="span6" onDesktop="span3">
    <div><h1>{{ state_num }}</h1></div>
    <div><h2>2015 Police Fatal Encounters</h2></div>
  </div>
  <div id="violent_crime" class="span3 statbox blue" onTablet="span6" onDesktop="span3">
    <div><h1> {{ twenty_fourteen_violent }}</h1></div>
    <div><h2>2014 Violent Crime</h2></div>
  </div>
  <div id="property_crime" class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
  <div><h1>{{ twenty_fourteen_property }}</h1></div>
  <div><h2>2014 Property Crime</h2></div>

  </div>
</div>
<div id="stage">
<div class="row-fluid">

  <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
    <div id="top-left"  style="height:200px" >  </div>
  </div>
  <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div id="top-right"  style="height:200px">
      <svg></svg>
    </div>
    </div>
</div>

  <div class="row-fluid">
    <div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div id="middle-left"  style="height:200px" >
        <svg></svg>
      </div>
    </div>
  	<div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8">
      <div class="content">
        <div id="middle-right" style="height:200px">
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
  </div>

  <hr>
  <script>



  $(document).ready(function() {
      $('#example').DataTable( {
          "dom": '<"toolbar">frtip'
      } );


      $("div.toolbar").html('<b>County Search</b>');

  } );
</script>
<div class='box'>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>County</th>
                <th>Population</th>
                <th>Military Items Value</th>
                <th>Fatal Encounters</th>
                <th>2014 Violent Crime</th>
                <th>2014 Property Crime</th>
            </tr>
        </thead>
        <tbody>
              {% for county in counties_list %}
            <tr>
                <td ><a href='/../county/{{county.6}}' >{{county.0}}</a></td>
                <td>{{ county.1 }}</td>
                <td>{{ county.2 }}</td>
                <td>{{ county.3 }}</td>
                <td>{{ county.4 }}</td>
                <td>{{ county.5 }}</td>

            </tr>
              {% endfor %}

        </tbody>
    </table>
  </div>
</div>


  <script >
  d3.json("{% url 'state_json' state %}", function(error, json) {
    if (error) return console.warn(error);
    data = json;
    drawCategories(data)
    drawLineDollars(data)
    drawPerCapitaCategories(data)
    drawPerCapitaAssaultRifles(data)

  });

  $('#1033')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:200px" ></div></div><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:200px"><svg></svg></div></div></div><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div id="middle-left"  style="height:200px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget purple" onTablet="span8" onDesktop="span8"><div class="content"><div id="middle-right" style="height:200px"><svg></svg></div></div></div></div></div>')
        drawCategories(data)
        drawLineDollars(data)
        drawPerCapitaCategories(data)
        drawPerCapitaAssaultRifles(data)
    })
  $('#fatal_encounters')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span8 widget green" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:200px" ></div></div><div id="stats-chart-2"  class="span4 widget green" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:200px"><svg></svg></div></div></div></div>')
        drawLineDeaths(data)
        drawStateDeaths(data)
  });
  $('#population')
    .css('cursor', 'pointer')
    .click(
        function(){
            alert('Population!');
        }
  );
  $('#violent_crime')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget blue" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:200px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget blue" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:200px"><svg></svg></div></div></div></div>')
        drawAvgViolentCrime(data)
        drawPerCapitaViolentCrime(data)

  });
  $('#property_crime')
    .css('cursor', 'pointer')
    .click(function() {
        $('#stage').html('<div id="stage"><div class="row-fluid"><div id="stats-chart-2"  class="span6 widget yellow" onTablet="span8" onDesktop="span8"><div id="top-left"  style="height:200px" ><svg></svg></div></div><div id="stats-chart-2"  class="span6 widget yellow" onTablet="span8" onDesktop="span8"><div id="top-right"  style="height:200px"><svg></svg></div></div></div></div>')
        drawAvgPropertyCrime(data)
        drawPerCapitaPropertyCrime(data)
    })
  function drawMilitary(){
      drawCategories(data)
      drawLineDollars(data)
      drawPerCapitaCategories(data)
      drawPerCapitaAssaultRifles(data)
  }
  </script>



{% endblock %}
